.clickArea {
  border: 1px solid black;
  width: 50px;
  height: 50px;

  position: absolute;
  z-index: 2;
}

.topLeft {
  top: 26.5%;
  left: 39.2%;
}

.midLeft {
  top: 47.8%;
  left: 29.9%;
}

.botLeft {
  bottom: 26.5%;
  left: 39.2%;
}

.botRight {
  bottom: 26.5%;
  right: 39.2%;
}

.midRight {
  top: 47.8%;
  right: 29.9%;
}

.topRight {
  top: 26.5%;
  right: 39.2%;
}