$blackBlue: #42567A;
$blackBlue10: rgba(66, 86, 122, 0.1);
$blackBlue20: rgba(66, 86, 122, 0.2);
$blackBlue40: rgba(66, 86, 122, 0.4);
$blackBlue50: rgba(66, 86, 122, 0.5);
$Fuschia100: #EF5DA8;
$Iris100: #5D5FEF;
$blue: #3877EE;